html,body{
  height: 100%;
  width:100%;
}

nav{
  transition: all 0.4s;
}

.navbar{
  background-color: black;
  border-color: black;
  padding: 1% 0;
  box-shadow: 0px 10px 10px rgba(50,50,50,0.7);
  transition: all 0.4s ease;
}

.navbar li a{
  font-size: 1.5em;
}
.navbar-brand{
  min-height: 90px;
  padding: 0 5px 5px 5px;
}

.navbar-default .navbar-nav li a{
   color: #D5D5D5;
}

.navbar-default .navbar-nav li a:hover{
   color: white;
   /* font-size: 2em; */
}

.navbar-default .navbar-nav li a:active{
   color: white;
}
.landing-text{
  color:white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

footer{
  width: 100%;
  background-color: black;
  padding: 5% 5% 10% 5%;
  color:#FFF;
}

.fa{
  padding: 15px;
  font-size: 2em;
  color: #FFF;
}

.fa :hover{
    color: #D5D5D5;
}

.icon{
  max-width: 200px;
}
