<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My Followers</span>
    </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="isUserAuthenticated && followers && followers.length > 0">
<mat-card *ngFor="let follower of followers">
    <mat-card-header>
      <img mat-card-avatar src='assets/images/bckg-an1.jpg'>
      <mat-card-title>{{ follower.fname }} {{ follower.lname }}</mat-card-title>
      <mat-card-subtitle>{{follower.email}} </mat-card-subtitle>
      <!-- <button mat-button color='primary' (click)='followUser($event, follower.email)'>FOLLOW</button> -->
    </mat-card-header>
  </mat-card>
</div>
