<mat-card>
    <mat-card-header>
        <div mat-card-avatar ></div>
        <mat-card-title>Photo Upload</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form [formGroup] = 'userPhotos'>
        <div class='photo-img'>
              <button mat-stroked-button type='button' (click)='fileUploader.click()'> Pick an Image </button>
              <input type='file' #fileUploader class="img-uploader" (change)="onSelectImage($event)">
        </div>

        <div class="img-preview" *ngIf="ImagePreview !=='' && ImagePreview && userPhotos.get('image').valid">
          <img [src]="ImagePreview" alt="Photo">
        </div>

        <mat-form-field class="img-caption" *ngIf="showContent">
          <textarea matInput rows="4" formControlName="caption" placeholder="Add Image Caption" ></textarea>
        </mat-form-field>

        <!-- <mat-form-field  *ngIf="showContent" class='tagging-field'>
            <mat-label>Tagging</mat-label>
            <mat-select formControlName="tagging" multiple>
              <mat-option *ngFor="let user of users" [value]="user.email">{{user.fname}} {{user.lname}}</mat-option>
            </mat-select>
          </mat-form-field> -->
      </form>
    </mat-card-content>
    <mat-card-actions align='center'>
        <button mat-raised-button color="accent" *ngIf="showContent" type='submit' (click)="uploadImage()">Upload Image</button>
    </mat-card-actions>
</mat-card>
