<mat-card>
    <mat-card-header>
        <div mat-card-avatar ></div>
        <mat-card-title>Photo Upload</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class='photo-img'>
              <button mat-stroked-button type='button' (click)='fileUploader.click()'> Pick an Image </button>
              <input type='file' #fileUploader class="img-uploader">
        </div>

        <div class="img-preview">
          <img alt="Profile Photo">
        </div>

        <mat-form-field class="img-caption">
          <textarea matInput rows='4' placeholder="Add Image Caption"></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions align='center'>
        <button mat-raised-button color="accent">Upload Image</button>
    </mat-card-actions>
</mat-card>
