mat-card{
  width: 70%;
  margin: 2em auto;
}

.img-preview{
  height: 18em;
  margin: 2em auto;
  width: 35%;
}

.img-preview img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-uploader{
  display: none;
}

mat-card-content .photo-img{
  text-align: center;
  margin: 2em auto;
}

.img-caption {
  margin: auto;
  width: 70%;
  display: block;
}
