<div class="prof-cover-photo">
  <img src='../../../assets/images/bckg-an2.jpg' class="cover-photo">
  <p class="bio">
    My Life My Rules
  </p>
</div>
<div class="flex-container">
  <div class="box">
    <div class="show-num">
      <span>20</span>
    </div>
    <p class="profile-stats">
    Posts
    </p>
  </div>
  <div class="box">
      <div class="show-num">
          <span>40</span>
        </div>
        <p class="profile-stats">
        Followers
        </p>
  </div>
  <div class="box">
      <div class="show-num">
          <span>100</span>
        </div>
        <p class="profile-stats">
        Following
        </p>
  </div>
</div>

<div class="flex-container-profile" style='background-color: white;'>
  <mat-card>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>DISLIKE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>DISLIKE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>DISLIKE</button>
        </mat-card-actions>
      </mat-card>

      <mat-card>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>DISLIKE</button>
          </mat-card-actions>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>DISLIKE</button>
            </mat-card-actions>
          </mat-card>
</div>
