<div class="prof-cover-photo">
  <img src='../../../assets/images/bckg-an2.jpg' class="cover-photo">
  <p class="bio" *ngIf="isUserAuthenticated && userInfo && userInfo.bio">
    {{ userInfo.bio }}
  </p>
</div>
<div class="flex-container">
  <div class="box">
    <div class="show-num">
      <span>{{ posts.length }}</span>
    </div>
    <p class="profile-stats">
    Posts
    </p>
  </div>
  <div class="box show-num-click" routerLink='/profile/followers'>
      <div class="show-num">
          <span>{{ followerCount }}</span>
        </div>
        <p class="profile-stats">
        Followers
        </p>
  </div>
  <div class="box show-num-click" routerLink='/profile/following'>
      <div class="show-num">
          <span>{{ followingCount }}</span>
        </div>
        <p class="profile-stats">
        Following
        </p>
  </div>
</div>

<div class="flex-container-profile" *ngIf="posts.length > 0">
  <mat-card *ngFor="let post of posts">
    <img mat-card-image [src]= post.imagePath alt="post.caption">
    <mat-divider></mat-divider>
    <mat-card-content *ngIf="post.caption !== 'null'">
      <p [id]="'caption'+post.id">
        {{ post.caption }}
      </p>
    </mat-card-content>
    <form [formGroup]="editCaptionForm">
      <mat-form-field class="hide-form style-form" [id]="'photo'+post.id">
        <textarea matInput formControlName="caption" [id]="'formtext'+post.id" (change) = 'editForm(post.id)'></textarea>
      </mat-form-field>
    </form>
    <mat-card-actions>
      <button mat-button color='primary' type="button" [id]="'edit'+post.id" (click)="showForm(post.id, post.caption)">EDIT</button>
      <button mat-button color='primary' type="button" [id]="'back'+post.id" class="hide-form" (click)="backForm(post.id)">BACK</button>
      <button mat-button color='primary' type="submit" [id]="'save'+post.id" class="hide-form" (click)="saveForm(post.id)">SAVE</button>
      <button mat-button color='accent' type="button" (click) = "onDelete(post.id)">DELETE</button>
      <button mat-button color='primary' (click) = 'viewComments(post)' routerLink = '/profile/comments'>COMMENT</button>
      <!-- <button mat-button color='accent' type="submit">SAVE</button> -->
    </mat-card-actions>
  </mat-card>
</div>
