@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.prof-cover-photo {
  height: 15em;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.cover-photo{
  height:100%;
  width:100%;
  object-fit: cover;
  opacity: 0.6;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

.box {
  height: 7em;
  width: 7em;

  vertical-align: middle;
}

.show-num{
  display: flex;
  height: 80%;
  border-radius: 45%;
  align-items: center;
  background-color: black;
  color: white;
  border:1px solid white;
  box-shadow:0 4px 15px 0 rgba(255, 254, 254, 0.8);
}

.show-num-click:hover{
  cursor: pointer;
}

span{
  margin: auto;
}

.profile-stats{
  background-color: black;
  margin-top: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
}

mat-card{
  width: 25%;
  margin: 2em;
}

.flex-container-profile {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.bio {
  position: relative;
  top:-8em;
  color: white;
  margin: auto;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 1.5vw;
  font-family: 'Roboto', sans-serif;
}

mat-card-content {
  margin-top: 1em;
}

.hide-form {
  display: none;
}

.style-form {
  width: 100%;
}
